#/*
#!*.cpp

#!/baekjoon
#/baekjoon/*
#!/baekjoon/*.cpp

*.json

/baekjoon/*
!/baekjoon/*.cpp

/legacy/*
!/legacy/*.cpp

/Samsung/*
!/Samsung/*.cpp

/Theory/Algorithm/*
!/Theory/Algorithm/*.cpp
/Theory/DataStructure/*
!/Theory/DataStructure/*.cpp